/* Import the CSS file.
   Change 'ian' to your username. */
@import url('file:///home/ian/.cache/wal/colors.css');


/* Hide scrollbar */
  
  :root{
    scrollbar-width: none !important;
  }
  }
  
  @-moz-document url(about:privatebrowsing) { 
  
  :root{
    scrollbar-width: none !important;
  }
  }

@-moz-document url(about:blank) {
    html,body { background: #12191b; }
}

/*@-moz-document url(about:blank) {
    html,body { background: var(--background); }
}*/
