[Desktop Entry]
Type=Application
Name=Spotify (TUI)
GenericName=TUI Music Player
Icon=spotify-client
Exec=kitty spotify-tui
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=spotify-tui
